In [2]:
x = 10
y = 3.14
name = 'Namita'
city = 'lucknow'
fruits = ['mango','apples','cherry']

In [3]:

x=10
y=3
x+y

13

In [4]:
x*y

30

In [5]:
x/y

3.3333333333333335

In [6]:
x//y

3

In [7]:
x**y

1000

In [9]:
x%y

1

In [10]:
a = 10
a += 5
10 > 3 and 5 > 3

True

In [11]:
2 > 100 or 5 < 10

True

In [12]:
not 10>5

False

In [13]:
name = 'William shakespeare'
 
'pear' in name

True

In [14]:
'will' in name

False

In [15]:
x = 1
y = 2
x is y

False