In [2]:
x = 10
y = 3.14
name = 'Namita'
city = 'lucknow'
fruits = ['mango','apples','cherry']

In [3]:

x=10
y=3
x+y

13

In [4]:
x*y

30

In [5]:
x/y

3.3333333333333335

In [6]:
x//y

3

In [7]:
x**y

1000

In [9]:
x%y

1

In [10]:
a = 10
a += 5
10 > 3 and 5 > 3

True

In [11]:
2 > 100 or 5 < 10

True

In [12]:
not 10>5

False

In [13]:
name = 'William shakespeare'
 
'pear' in name

True

In [14]:
'will' in name

False

In [15]:
x = 1
y = 2
x is y

False

In [4]:
x = 10
y = 3

sum = x + y  # Addition
diff = x - y  # Subtraction
product = x * y  # Multiplication
quotient = x / y  # Division
remainder = x % y  # Modulus
power = x ** y  # Exponentiation
floor_division = x // y  # Floor Division

print(sum)
print(diff)
print(product)
print(quotient)
print(remainder)
print(power)
print(floor_division)

13
7
30
3.3333333333333335
1
1000
3

In [5]:
a = 5
b = 7

print(a == b)  # False
print(a != b)  # True
print(a > b)  # False
print(a < b)  # True
print(a >= b)  # False
print(a <= b)  # True

False
True
False
True
False
True

In [6]:
p = True
q = False

print(p and q)  # False
print(p or q)  # True
print(not p)  # False

False
True
False