In [1]:
raju = {
    'first name': 'Rajesh',
    'last name': 'Kumar',
    'age': 25,
    'address':{
        'house no': 123,
        'street': 'MG road',
        'city': 'Banglore',
        'State': 'Karnataka',
    }
    }
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}}

In [2]:
print(raju['first name'])
print(raju['last name'])
print(raju['age'])
print(raju['address']['city'])

Rajesh
Kumar
25
Banglore

get() function

In [3]:
print(raju.get('first name'))
print(raju.get('middle name'))
print(raju.get('middle name','not found')) #default value optional

Rajesh
None
not found

update value of a key

In [4]:
raju['age'] = 24
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 24, 'address': {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}}

adding an entry

In [5]:
raju['middle name']='Arun'
raju['address']['country'] = 'India'
raju['phone'] = '1234567890'
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 24, 'address': {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka', 'country': 'India'}, 'middle name': 'Arun', 'phone': '1234567890'}

remove an entry

In [6]:
# pop() function
raju.pop('middle name')

'Arun'

In [7]:
raju.clear()
raju = {
    'first name': 'Rajesh',
    'last name': 'Kumar',
    'age': 25,
    'address':{
        'house no': 123,
        'street': 'MG road',
        'city': 'Banglore',
        'State': 'Karnataka',
    }
    }
print(raju)

{'first name': 'Rajesh', 'last name': 'Kumar', 'age': 25, 'address': {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}}

In [8]:
print(raju.keys()) #list all the keys
print(raju.values()) #list all the values
print(raju.items()) #list all the key-value pairs

dict_keys(['first name', 'last name', 'age', 'address'])
dict_values(['Rajesh', 'Kumar', 25, {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}])
dict_items([('first name', 'Rajesh'), ('last name', 'Kumar'), ('age', 25), ('address', {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'})])

In [9]:
for key in raju:
    print(key)

first name
last name
age
address

In [10]:
for key in raju:
    print(raju[key])

Rajesh
Kumar
25
{'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}

In [11]:
for k,v in raju.items():
    print(k,v)

first name Rajesh
last name Kumar
age 25
address {'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}

In [12]:
for v in raju.values():
    print(v)

Rajesh
Kumar
25
{'house no': 123, 'street': 'MG road', 'city': 'Banglore', 'State': 'Karnataka'}

In [1]:
# create a dictionary of 5 employees of account dept in a ACME company
acme = {'accounts': { }}
for i in range(5):
    name = input("enter name: ")
    desig = input('enter designation: ')
    sal = int(input("enter salary: "))
    acme['accounts'][f'emp{i+1}'] = {
        'name' : name,
        'designation' : desig,
        'salary': sal
    }
from pprint import pp
pp(acme)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#calculate the total salary of the empolyees in the company
total_salary = 0
for i in acme['accounts']:
    total_salary += acme['accounts'][i]['salary']
print(total_salary)

122999999

In [ ]:
# create a contact dictionary and
#let user check if a contact details
# if yes, print the contact details
# if no, ask user to add the contact

contacts = {'police' : 112}
while True:
    contact_name = input('enter contact name: ')
    if contact_name in contacts:
        print('found contact')
        print('name',contact_name)
        print('number',contacts[contact_name])
    elif(contact_name == 'exit'):
        break
    else:
        print('contact not found')
        print('add contact')
        contact_number = input('enter contact number: ')
        contacts[contact_name] = contact_number
        print('contact added')

found contact
name police
number 112
contact not found
add contact
contact added

Dictionary Methods:

Python provides various built-in methods that you can use to manipulate dictionaries. Here are some commonly used dictionary methods:

keys(): Returns a view object that contains all the keys of the dictionary.
values(): Returns a view object that contains all the values of the dictionary.
items(): Returns a view object that contains all the key-value pairs of the dictionary as tuples.
get(key, default): Returns the value associated with the specified key. If the key is not found, it returns the default value (or None if not provided).
pop(key): Removes and returns the value associated with the specified key.
update(other_dict): Updates the dictionary by adding key-value pairs from another dictionary or an iterable of key-value pairs.

In [ ]:
my_dict = {"name": "John", "age": 25, "city": "New York"}

print(my_dict.keys())      
print(my_dict.values())    
print(my_dict.items())     
print(my_dict.get("name"))         
print(my_dict.get("country"))      
print(my_dict.get("country", ""))  

value = my_dict.pop("age")
print(value)                       

other_dict = {"country": "USA", "language": "English"}
my_dict.update(other_dict)
print(my_dict)

dict_keys(['name', 'age', 'city'])
dict_values(['John', 25, 'New York'])
dict_items([('name', 'John'), ('age', 25), ('city', 'New York')])
John
None

25
{'name': 'John', 'city': 'New York', 'country': 'USA', 'language': 'English'}