In [1]:
name = input("enter your name: ")
city = input("enter the city: ")
age = input("enter the age: ")
a = '900'
int(a)

900

In [2]:
p = int(input("enter the principal : "))
rate = int(input("enter the rate: "))
time = int(input("enter the time: "))
s_interest = (p*rate*time)/100
print(s_interest)

1275.68

In [3]:
x = int(input("Enter a number 1: "))
y = int(input("Eneter the number 2 : "))
add = x + y
print(add)

1100

In [4]:
print("our numbers",x,y)

our numbers 600 500

In [5]:
print(x,y,name,age,city,sep="\n")

600
500
namita singh
20
lucknow

In [6]:
print(x,y,name,age,city)

600 500 namita singh 20 lucknow

In [7]:
print('hi', end=' ')
print('there')

hi there

In [8]:
#formattable string
print(f'adding {x} with {y} will give {x+y}')

adding 600 with 500 will give 1100

In [9]:
#f string floating value
a =10
b=3
print(f'{a}/{b} = {a/b:.2f}')

10/3 = 3.33

In [10]:
#f string alignment
print(f'name = {name}')
print(f'age = {age}')
print(f'city = {city}')

name = namita singh
age = 20
city = lucknow

In [11]:
print(f'name  {name}')
print(f'age   {age}')
print(f'city  {city}')

name  namita singh
age   20
city  lucknow

In [12]:
print(f'{"name":10}{name}')
print(f'{"age":10}{age}')
print(f'{"city":10}{city}')

name      namita singh
age       20
city      lucknow

In [13]:
print(f'{"name":10}{name}')
print(f'{"age":10}{age}')
print(f'{"city":10}{city}')

name      namita singh
age       20
city      lucknow

In [14]:
print(f'{"name":10}{name:^35}')
print(f'{"age":10}{age:^35}')
print(f'{"city":10}{city:^35}')

name                 namita singh
age                       20
city                    lucknow

In [15]:
#write a program for pythgoras theorem
pe = int(input("Enter the perpendicular: "))
ba = int(input("enter the base: "))
hy = (pe**2 + ba**2)**0.5
print(f'hypotenuse is {hy:.1f}')

hypotenuse is 102.4