In [1]:
#LOOPS
movies = [
    'Pihu',
    'Harry Potter',
    'Kerala story',
    'Wednesday',
    'Dark Knight',
    'Pathan',
    'Fast Five',
    'Titanic',
    'Bahubali',
    'Anabella']
print(len(movies))

10

In [2]:
#FOR LOOP
for title in movies:
    print(title)

Pihu
Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [3]:
for title in movies:
    print(f'{title:20} {len(title)} chars')

Pihu                 4 chars
Harry Potter         12 chars
Kerala story         12 chars
Wednesday            9 chars
Dark Knight          11 chars
Pathan               6 chars
Fast Five            9 chars
Titanic              7 chars
Bahubali             8 chars
Anabella             8 chars

In [4]:
for title in movies:
    if('a' in title):
        print(title)

Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [5]:
for title in movies:
    if('a' in title or 'e' in title):
        print(title)

Harry Potter
Kerala story
Wednesday
Dark Knight
Pathan
Fast Five
Titanic
Bahubali
Anabella

In [6]:
#NESTED LOOPS
books = [
    ['The India Story','Bimal Jalal',10],
    ['A place called home','Preeti shenoy',9],
    ['Lal salam','Smriti Irani',8],
    ['Queen of fire','Devika Rangachari',10],
    ['The maverick effect','Harish Mehta',10],
    ['Monsoon','Sahitya Akademi',9],
    ['Tomb sand','Geetenjali shree',10],
    ['Fearless Governance','Dr.Kiran bedi',9],
    ['A nation to protect','Priyam Gandhi',9],
    ['Unfinished','Priyanka chopra Jonas',10],
]
print(len(books))

10

In [7]:
for book in books:
    for field in book:
        print(field)
    print()

The India Story
Bimal Jalal
10

A place called home
Preeti shenoy
9

Lal salam
Smriti Irani
8

Queen of fire
Devika Rangachari
10

The maverick effect
Harish Mehta
10

Monsoon
Sahitya Akademi
9

Tomb sand
Geetenjali shree
10

Fearless Governance
Dr.Kiran bedi
9

A nation to protect
Priyam Gandhi
9

Unfinished
Priyanka chopra Jonas
10

In [8]:
for book in books:
    print(f'title: {book[0]}')
    print(f'author: {book[1]}')
    print(f'rating: {book[2]}')
    print()

title: The India Story
author: Bimal Jalal
rating: 10

title: A place called home
author: Preeti shenoy
rating: 9

title: Lal salam
author: Smriti Irani
rating: 8

title: Queen of fire
author: Devika Rangachari
rating: 10

title: The maverick effect
author: Harish Mehta
rating: 10

title: Monsoon
author: Sahitya Akademi
rating: 9

title: Tomb sand
author: Geetenjali shree
rating: 10

title: Fearless Governance
author: Dr.Kiran bedi
rating: 9

title: A nation to protect
author: Priyam Gandhi
rating: 9

title: Unfinished
author: Priyanka chopra Jonas
rating: 10

In [9]:
for book in books:
    print(f'title: {book[0]}')

title: The India Story
title: A place called home
title: Lal salam
title: Queen of fire
title: The maverick effect
title: Monsoon
title: Tomb sand
title: Fearless Governance
title: A nation to protect
title: Unfinished

In [10]:
#BREAK AND CONTINUE STATEMENT
prices = [239,530,103,600,100,400,None,4000,99]
for price in prices:
    print(price)

239
530
103
600
100
400
None
4000
99

In [11]:
#BREAK STATEMENT
for price in prices:
    if (price is None):
        break
    print(price)

239
530
103
600
100
400

In [12]:
#CONTINUE STATEMENT
for price in prices:
    if (price is None):
        continue
    print(price)

239
530
103
600
100
400
4000
99

In [13]:
data = [250,None,949,199,None,299,None,100]
for price in data:
    if price is None:
        continue
    print(price)

250
949
199
299
100

In [14]:
names= ['Namita','Shreya','Ritesh','Pihu']

for name in names:
    print(name)

Namita
Shreya
Ritesh
Pihu

In [15]:
#Enumerate function is a spection fuction used in iterables ang gives the result in tuple form.
for name in enumerate(names):
    print(name)

(0, 'Namita')
(1, 'Shreya')
(2, 'Ritesh')
(3, 'Pihu')

In [16]:
#Enumerate function when we want the result not in tuple form.
for id,name in enumerate(names):
    print(id,name)

0 Namita
1 Shreya
2 Ritesh
3 Pihu

In [17]:
#zip function
grocery = ['bread','milk','butter','cheese']
price = [20,60,100,150]
qty = [2,1,2,1]

for g,p,q in zip(grocery, price, qty):
    print(f'{g:10} {p:5} {q:5} {p*q:5}')

bread         20     2    40
milk          60     1    60
butter       100     2   200
cheese       150     1   150

In [18]:
#factors of a number
num= 10
for i in range(2,num):
    if(num % i ==0):
        print(i)

2
5

In [19]:
# prime number
num = 23
for i in range(2,num):
    if(num%i==0):
        print(f'{num} is not a prime number')
        break
else:
    print(f'{num} is a prime number')

23 is a prime number

In [20]:
#WHILE LOOP
# reverse of a number
num = 123
rev = 0
while num > 0:
    d = num % 10
    rev = rev * 10 + d
    num = num // 10
print(f'Reverse of a number is {rev}')

Reverse of a number is 321

In [21]:
#EXAMPLE OF WHILE LOOP -> USERNAME AND PASSWORD

username = 'admin'
password = 'admin123'
while True:
    u = input("Enter the useraname: ")
    p = input("Enter the password: ")
    if u == username and p == password:
        print('logged in')
        break
    else:
        print('Invalid Credentials')
        continue

logged in