tuple

In [1]:
x = (1,2,3,4,5)
print(x)
print(type(x))

(1, 2, 3, 4, 5)
<class 'tuple'>

tuple packing

In [2]:
y = 1,2,3,4
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
z = tuple([1,2,3,4,5]) #tuple from a iterable
zs = tuple('hello') #tuple from a iterable
print(z)
print(zs)

(1, 2, 3, 4, 5)
('h', 'e', 'l', 'l', 'o')

tuple functions

In [4]:
x =(12,12,312,312,5,25,553,433,4)
print(x.count(12))
print(x.index(312))

2
2

In [5]:
x = (3,) #single element tuple needs a comma
print(x)
print(type(x))

(3,)
<class 'tuple'>

In [6]:
y

(1, 2, 3, 4)

In [7]:
a = y
print(a)

(1, 2, 3, 4)

In [8]:
a,b,c,d = y #tuple unpacking
print(a,b,c,d)

# a,b = y # too many values to unpack
# a,b,c,d,e = y #not enough values to unpack

1 2 3 4

In [9]:
a,b, *c = y #tuple unpacking
print(a,b,c)
a, *b = y
print(a,b)
a, *b, c = y
print(a,b,c)
*a , b = y
print(a,b)

1 2 [3, 4]
1 [2, 3, 4]
1 [2, 3] 4
[1, 2, 3] 4

Set

In [10]:
x = {2,3,3,4,5,6,7,8,9,0}
print(x)

{0, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
fruits = {'apple','apple','banana','pear','orange','pear'}
print(fruits)

{'orange', 'apple', 'banana', 'pear'}

add()

In [12]:
fruits.add('grape')
print(fruits)

{'banana', 'pear', 'orange', 'apple', 'grape'}

discard()

In [13]:
fruits.discard('apple')
print(fruits)
fruits.discard('custard apple')
print(fruits)

{'banana', 'pear', 'orange', 'grape'}
{'banana', 'pear', 'orange', 'grape'}

union(),intersection(),difference(),symmetric difference()

In [14]:
a = {1,2,3,4,5,6,7,8,9,0}
b = {1,2,3,4,5}
c = {6,5,4,7,3,8,9,10}
d = {1,3,4,6,10,8}
e = {11,12,13,14,15}
print(b|c) #union
print(b.union(c)) #union

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [15]:
print(b&c) #intersection
print(b.intersection(a))

print(b - c) #difference
print(b.difference(d))

print(b^c) #symmetric difference
print(b.symmetric_difference(c))

print(a.isdisjoint(b))
print(a.issuperset(b))
print(b.issubset(a))
print(b.isdisjoint(c))

{3, 4, 5}
{1, 2, 3, 4, 5}
{1, 2}
{2, 5}
{1, 2, 6, 7, 8, 9, 10}
{1, 2, 6, 7, 8, 9, 10}
False
True
True
False